.Page {
  min-height: calc(100vh - 24px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 24px;
}
.Page .TechRadar {
  min-height: 70vh;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
section > * {
  flex: 1;
}
section > .TechRadar {
  flex: 2;
}
section > *:last-child:not(:first-child) {
  text-align: right;
}

h3 {
  margin: 0;
  white-space: nowrap;
}

ul, li, p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 12px;
  cursor: pointer;
  padding: 6px;
}


/* Theme */

.Page {
  background-color: #f3f1f1;
  color: #232427;
}

.Page ::selection {
  background: #282c34;
  color: #bec6d4;
}

.Item {
  text-shadow: 0 0 2px #000000;
  color: #f3f1f1;
}

.Tooltip > * {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
  background: #f3f1f1;
  color: #232427;
  border-radius: 2px;
}

li:hover {
  background-color:rgba(190, 198, 212, .1);
}
