.Page {
  background-color: #282c34;
  min-height: calc(100vh - 24px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #bec6d4;
  padding: 24px;
}

.Page ::selection {
  background: #282c34;
  color: #bec6d4;
}

.Page .TechRadar {
  min-height: 70vh;
}

.Tooltip > * {
  background: rgba(190, 198, 212, 1);
  color: #282c34;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}
section > * {
  flex: 1;
}
section > .TechRadar {
  flex: 2;
}
section > *:last-child:not(:first-child) {
  text-align: right;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 12px;
}
nav span {
  cursor: pointer;
  margin: 0 6px;
  transition: opacity .2s;
}
nav span:not(.active) {
  opacity: .5;
}
nav span:not(.active):hover {
  opacity: .75;
}

h3 {
  margin: 0;
  white-space: nowrap;
}

ul, li, p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 12px;
  cursor: pointer;
  padding: 6px;
}

li:hover {
  background-color:rgba(190, 198, 212, .1);
}