.Ring-circle {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }
  
  .Ring-circle:before {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    border-radius: 100% 100% 100% 100%;
    background-color: var(--color);
  }
  
  .Ring-circle-content {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
  }
  
  .Ring-circle-content > * {
    --padding: calc(1500deg / var(--radius));
    content: '';
    display: block;
    height: calc(100% - var(--random) * 10%); /* Todo This needs to be dependent on the amount of rings */
    position: absolute;
    bottom: 0;
    transform-origin: left center;
    transform: rotate(calc(var(--random) * (var(--width) * 1deg - var(--padding))))
  }