.tr-ring-section {
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
  transform: rotate(calc(var(--rotation) * 1deg));
}

.tr-ring-section-background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  transform-origin: 50% 100%;
  transform: rotate(calc(180deg - var(--width) * 1deg));
}

.tr-ring-section-background:before {
  height: 200%;
  width: 100%;
  position: absolute;
  content: "";
  border-radius: 100% 100% 100% 100%;
  background-color: var(--color);
  transform-origin: 50% 100%;
}

.tr-ring-section-content {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: left bottom;
  transform: rotate(calc(180deg - var(--width) * 1deg - 90deg));
}

.tr-ring-section-content > * {
  content: '';
  display: block;
  height: calc(var(--distanceRel) * 100%);
  position: absolute;
  bottom: 0;
  transform-origin: left bottom;
  transform: rotate(calc(var(--angle) * 1deg))
}