.tr-ring-circle {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.tr-ring-circle:before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  border-radius: 100% 100% 100% 100%;
  background-color: var(--color);
}

.tr-ring-circle-content {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
}

.tr-ring-circle-content > * {
  content: '';
  display: block;
  height: calc(var(--distanceRel) * 100%);
  position: absolute;
  bottom: 0;
  transform-origin: left bottom;
  transform: rotate(calc(var(--angle) * 1deg))
}