.tr-tooltip {
  position: absolute;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  font-size: 11px;
  padding: 5px;
  max-width: 400px;
  transform: translate(calc(var(--translateX)*1% + var(--offsetX)*1px), calc(var(--translateY)*1% + var(--offsetY)*1px));
}

.tr-tooltip small {
  white-space: nowrap;
}
.tr-tooltip p {
  font-size: 11px;
}
