.Item {
  width: 15px;
  height: 15px;
  line-height: 10px;
  font-size: 40px;
  text-align: center;
  opacity: .25;
  transition: opacity .2s;
}

.highlighted {
  opacity: .75;
}

.opened {
  opacity: 1;
}