.TechRadar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.TechRadar-viewport {
  width: min(var(--width), var(--height));
  height: min(var(--width), var(--height));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.TechRadar-tooltip {
  position: absolute;
  top: 0;
  left: 0;
}

