.tr {
  width: min(var(--width), var(--height));
  height: min(var(--width), var(--height));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}